*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-family: "Jost", sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Baskervville', serif;
    font-weight: 200;
}

@font-face {
    font-family: "baskervville";
    src: url("../fonts/Baskervville-Regular.ttf");
    src: url("../fonts/Baskervville-Regular.ttf") format("woff"),
        url("../fonts/Baskervville-Regular.ttf") format("opentype"),
        url("../fonts/Baskervville-Regular.ttf") format("svg");
}

header {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(173, 100, 81, 0.922), rgba(127, 120, 120, 0.3), rgba(0, 0, 0, 0.744)), url("../images/h1_hero.jpg");
    background-size: cover;
}

.container {
    max-width: 1150px;
    margin: 0px auto;
}

.contacts {
    width: 100%;
    height: 40px;
    background-color: rgb(46, 0, 0);
    display: flex;
}

.call,
.mail,
.social-media {
    height: auto;
    padding: 10px 0px;
}

/* header left */
.call {
    width: 20%;
    padding: 10px 20px;
    border-right: 1px solid rgba(245, 222, 179, 0.21);

}

.call,
.mail {
    font-size: 15px;
}

.mail {
    width: 67%;
    margin-left: 20px;
}

/* header right */
.social-media {
    width: 13%;
    display: flex;
    justify-content: space-evenly;
}

.social-media a {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.social-media img {
    margin: 0px 3px;
    width: 20px;
    height: 20px;
    transition: all 0.3s;
}

.social-media a:hover img {
    transform: rotateY(180deg);
}

/* menu */
.menu {
    width: 100%;
    height: 85px;
    display: flex;
}

.right-menu,
.left-menu,
.center-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
}

.left-menu {
    width: 20%;
    height: 100%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);

}

.center-menu {
    width: 67%;
    height: 100%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    justify-content: flex-end !important;
}

.right-menu {
    width: 13%;
    height: 100%;
    background-color: rgb(226, 156, 137);
}

.list li {
    padding: 30px 10px;
    margin: 0px 10px;
    transition: all 0.3s;
    display: inline;
}

.list li:nth-last-of-type(1) {
    margin-right: 30px;
}

.list>li:hover {
    border-bottom: 3px solid white;
}

.blog {
    position: relative;
    transition: all 0.3s;
}

.list-blog {
    display: none;
    position: absolute;
    background-color: rgb(226, 156, 137);
    width: 170px;
    left: 0;
    top: 100%;
    text-align: left;
    transition-duration: 0.3s;
}

.blog:hover .list-blog {
    display: block;
}

.list-blog li {
    padding: 10px 10px;
    display: block;
}

.list-blog li:hover {
    padding-left: 20px;
}

.center-menu .responsive {
    display: none;
}

/* slogan */
.slogan {
    background-color: transparent;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slogan h1 {
    font-size: 57px;
    font-weight: 500;
    width: 640px;
    height: 150px;
}

/* form */
.form {
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.check-in,
.check-out {
    border-bottom: 1.5px solid white;
    width: 250px;
    height: 60px;
    padding: 5px;
    flex-grow: 2;
    margin: 5px;
}

.form label {
    display: block;
}

.form input {
    border: none;
    background-color: transparent;
}

.adult,
.children,
.form .search {
    width: 180px;
    height: 60px;
    border: 1.5px solid white;
    padding: 5px 15px;
    margin: 10px 5px;
    flex-grow: 1;
}

.form .search {
    padding: 0;
}

.form select,
.form .search a {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 22px;
    border: none;
}

.form option {
    color: black;
}

.search a {
    color: black;
    background-color: white !important;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* back-top */
.back-top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(226, 156, 137);
    position: sticky;
    left: 96%;
    top: 90%;
}

.back-top img {
    position: relative;
    margin: 4px;
}


/* about */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px auto;
}

.about-left {
    width: 40%;
    height: 510px;
}

.about-center {
    width: 40%;
    height: 450px;
    padding: 50px 25px;
}

.about-right {
    width: 20%;
    height: 545px;
}

.about img {
    width: 100%;
    height: 100%;
}

.about-center h1 {
    margin-bottom: 12px;
    font-size: 40px;
    color: black;
}

.about-center p {
    margin-bottom: 30px;
    font-size: 17px;
    color: rgb(94, 93, 93);
}

.about-center a {
    display: inline-block;
    width: 170px;
    height: 50px;
    color: rgb(230, 159, 137);
    border: 1px solid rgb(230, 159, 137);
    text-align: center;
    padding: 11px 0px;
    font-weight: bold;
    transition: all 0.3s;
}

.about-center a:hover {
    color: white;
    background-color: rgb(230, 159, 137);

}

/* rooms */
.rooms {
    width: 100%;
    background-color: rgb(235, 234, 234);
    padding: 120px 10px;
    padding-bottom: 300px;
}

.rooms h2,
.rooms p {
    color: black;
}

/* rooms top */
.rooms .top {
    height: 170px;
    display: flex;
    justify-content: space-between;
}

.our-rooms {
    width: 40%;
    height: 170px;
}

.click-right,
.click-left {
    width: 70px;
    height: 50px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.374);
    border-radius: 25px;
    margin: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.click a:hover .click-right,
.click a:hover .click-left {
    border: 1px solid rgb(0, 0, 0);
}

.click {
    width: 20%;
    direction: rtl;
}

.rooms .top p {
    font-size: 18px;
}

.rooms .top h2 {
    font-size: 40px;
}

/* rooms center */
.rooms .center {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 100px;
    overflow: hidden;
}

.rooms .center div {
    width: 30%;
    height: 279px;
    margin: 10px 20px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
}

.room1 {
    background-image: url("../images/hotel1.jpg");
}

.room2 {
    background-image: url("../images/hotel2.jpg");

}

.room3 {
    background-image: url("../images/hotel3.jpg");
}

.rooms .center p,
.rooms .center h3,
.rooms .center span {
    color: white;
    margin: 10px;
}

.rooms .center h3,
.rooms .center span {
    font-size: 30px;
}

/* rooms bottom */
.rooms .bottom {
    width: 70%;
    margin: 0px auto;
    text-align: center;
    padding: 60px 0px;
}

.rooms .bottom h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: black;
}

.rooms .bottom a {
    color: black;
    font-size: 18px;
    border-bottom: 2px dotted black;
    transition: all 0.3s;
}

.rooms .bottom a:hover {
    font-size: 18.5px;
}

/* project */
.project {
    width: 70%;
    height: 550px;
    margin: 0px auto;
    display: flex;
    text-align: center;
}

.project .left,
.project .right {
    position: relative;
    top: -50%;
}

.project .left {
    width: 50%;
    height: 550px;
    background-image: url("../images/project-img.jpg");
    background-size: cover;
}

.project .right {
    width: 50%;
    height: 550px;
    background-color: rgb(25, 21, 20);
    padding: 80px 10px;
}

.project .right h2 {
    font-size: 40px;
    transition: all 0.3s;
    margin-bottom: 20px;
}


.project .right h2:hover {
    color: rgb(230, 159, 137);

}

.project .right p {
    font-size: 18px;
    color: white;
}

.project .view {
    display: inline-block;
    width: 170px;
    height: 50px;
    color: rgb(230, 159, 137);
    border: 1px solid rgb(230, 159, 137);
    text-align: center;
    padding: 11px 0px;
    margin-top: 50px;
    font-weight: bold;
    transition: all 0.3s;
}

.project .view:hover {
    background-color: rgb(230, 159, 137);
    color: white;
}

/* video */
.video {
    height: 650px;
    background-image: url("../images/video-bg.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.video a {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.103);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* offer */
.offer {
    padding: 100px 0px;
}

.offer h2 {
    color: black;
    font-size: 40px;
    text-align: center;
}

.offer>div {
    width: 100%;
    height: 378px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.drinks {
    background-image: url("../images/guest1.jpg");
}

.breakfast {
    background-image: url("../images/guest2.jpg");
}

.dinner {
    background-image: url("../images/guest3.jpg");
}

.offer>div>div {
    width: 30%;
    height: 100%;
    background-size: cover;
    padding: 30px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.offer div h2 {
    font-size: 30px;
    color: white;
}

.offer p {
    font-size: 14px;
    color: white;
    display: none;
}

.offer>div>div:hover p {
    display: block;
}

.drinks:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/guest1.jpg");
}

.breakfast:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/guest2.jpg");

}

.dinner:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/guest3.jpg");

}

.offer h2:hover {
    color: rgb(230, 159, 137);
}

/* notes */
.notes {
    width: 100%;
    height: auto;
    background-color: rgb(184, 110, 90);
}

.notes>div {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.note1,
.note2 {
    width: 40%;
    height: 100%;
    padding: 55px 40px;
}

.notes p,
.notes h2 {
    color: white;
    margin-bottom: 20px;
    font-family: 'jost', sans-serif;
}

.notes p {
    font-size: 18px;
}

.notes h2 {
    font-size: 30px;
}

/* footer */
footer {
    width: 100%;
    height: auto;
    background-color: rgb(25, 21, 20);
}

footer>div {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

footer>div>div {
    width: 25%;
    height: 100%;
    padding: 100px 10px;

}

footer p,
footer a {
    margin: 20px 0px;
    color: white;
}

/* footer left */
footer .left div {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    height: 25px;
}

footer .left a {
    width: 15px;
    height: 15px;
    background-color: rgb(101, 101, 101);
    border-radius: 2px;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s;
}

footer .left>a {
    background-color: transparent;
    display: inline-block;
}

footer .left div img {
    width: 100%;
    height: 100%;
}

footer .left div a:hover {
    background-color: rgb(226, 156, 137);
    top: -5px;
}

/* footer nav */
footer .nav li {
    display: block;
    margin: 5px 0px;
}

/* footer contact */
footer .contact a {
    display: block;
    margin: 10px 0px;
}

footer .contact a:nth-of-type(2) {
    color: rgb(230, 159, 137);
}

/* footer news */

footer .news input,
footer .news a {
    display: block;
    width: 100%;
    height: 50px;
    margin: 10px 0px;
}

footer .news input {
    border: 0.5px solid rgba(255, 255, 255, 0.263);
    background-color: transparent;
    padding: 2px 20px;
    font-size: 17px;
}

footer .news a {
    background-color: rgb(226, 156, 137);
    text-align: center;
    font-size: 17px;
    padding: 12px;
}

footer .container .copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px 0px;
}

footer .container>p {
    margin: 0px auto;
}

footer .container>p img {
    width: 16px;
    height: 16px;
}





@media (max-width:640px) {

    h1,
    h2,
    h3 {
        font-size: 30px !important;
    }

    .left-menu,
    .center-menu,
    .project .left,
    .project .right,
    .about-center,
    .about-left,
    .rooms .center div,
    .our-rooms,
    .rooms .bottom,
    .offer>div>div,
    .note1,
    .note2,
    footer>div>div {
        width: 100%;
    }

    .social-media,
    .right-menu,
    .rooms .click,
    .room2,
    .room3,
    .about-right,
    .project .left,
    .project .right {
        display: none;
    }

    .menu,
    .project,
    .offer>div,
    .notes>div,
    footer>div {
        display: block;
    }

    .menu,
    .project,
    .offer>div {
        height: auto;
    }


    .call,
    .mail {
        width: 50%;

    }

    .call span,
    .mail span {
        font-size: 10px;
    }

    .left-menu {
        padding: 10px 0px;
    }

    .center-menu {
        height: 50px;
        background-color: rgb(69, 67, 67);
        padding: 0;

    }

    .list li {
        font-size: 12px;
        padding: 12px 10px;
        margin: 0px 10px;
    }

    .list {
        margin: 0px auto;
    }

    .form {
        padding: 5px 20px;
    }

    .adult,
    .children,
    .form .search {
        width: 250px;
    }

    .about {
        flex-direction: column;
    }

    .rooms {
        padding: 50px 5px;
    }

    .rooms .center div {
        height: 400px;
        margin: 0px auto;
    }

    .rooms .bottom {
        padding: 0px;
    }

    .project {
        padding-bottom: 100px;
    }

    .video {
        height: 500px;
        background-position: center bottom;
    }

    .offer>div>div {
        height: 600px;
        margin: 20px 0px;
    }

    .note1,
    .note2 {
        padding: 20px 10px;
    }

    footer>div>div {
        height: 100%;
        padding: 20px 10px;

    }

    .container {
        width: 90%;
    }
}



@media (min-width:641px) and (max-width:1110px) {

    .right-menu,
    .about-right {
        display: none;
    }

    .menu,
    .about {
        display: block;
    }

    .left-menu,
    .center-menu {
        width: 100%;
    }

    .call,
    .mail {
        width: 50%;

    }

    .call span,
    .mail span {
        font-size: 10px;
    }

    .left-menu {
        padding: 10px 0px;
    }

    .center-menu {
        height: 50px;
        background-color: rgb(69, 67, 67);
        padding: 0;

    }

    .list li {
        font-size: 12px;
        padding: 12px 10px;
        margin: 0px 10px;
    }

    .list {
        margin: 0px auto;
    }

    .project,
    .about-center,
    .about-left,
    .video {
        width: 90%;
        margin: 0px auto;
    }

    .rooms .center div {
        margin: 10px 10px;
    }

    .project .right h2 {
        font-size: 24px;
    }

    footer .left img {
        width: 150px
    }
}